{% extends 'base.html' %}
{% block title %}{{activity.name}} | Activity Page {% endblock %}
{% block another1 %}
	{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'activity page/css/style.css' %}">

{% endblock %}


{% block body %}
<!—Title of activity section —>
		<br><br>
		<div class="container">
			<div class="row">
			  <div class="col-8">
			  	<h1 class="intro-heading">{{activity.name}}</h1>
			  </div>
			  <div class="col-4">
			  	<div class="containerbottonSubmit">
			  		<button type="button" class="orangebutton">Submit to verify</button>
			  	</div>
			</div>
		</div>

	<!—end Title of activity section —>


	<!—activity banner section —>
		<br><br>
		<div class="container">
			<div class="bannerpic">
				<img src="..." class="img-fluid" alt="Activity's image"> <!add pic of activity in #>
			</div>
		</div>
	<!—end activity banner section —>

	<!—activity info section —>
		<br>
		<div class="container">
			<div class="row">
				<h2 class="topicinfo"><br>Description</h>
			</div>
		</div>
		<div class="containerdes">
			<h2 class="infodes">{{activity.description}}</h>
		</div>
		<div class="container">
			<div class="row">
				<h2 class="topicinfo">Duration</h>
			</div>
		</div>
		<div class="containerdes">
			<h2 class="infodes">{{activity.startDate}} - {{activity.endDate}}</h>
		</div>
		<div class="container">
			<div class="row">
				<h2 class="topicinfo">Location</h>
			</div>
		</div>
		<div class="containerdes">
			<h2 class="infodes">{{activity.location}}</h>
		</div>
		<div class="container">
			<div class="row">
				<h2 class="topicinfo">Supervisors</h>
			</div>
		</div>
		<div class="containerdes">
			<h2 class="infodes">{{activity.supervisors.name}}</h>
		</div>
		<div class="container">
			<div class="row">
				<h2 class="topicinfo">Members</h>
			</div>
		</div>
		<div class="containerdes">
			<h2 class="infodes">{{activity.participants.name}}</h>
		</div>
		<div class="container">
			<form action="{% url 'activities:delete' activity.pk %}" method="post" style="display: inline;">
				{% csrf_token %}
				<!--<input type="hidden" name="activity.pk" value="{{activity.pk}}"/>-->
				<button type="submit" class="btn btn-default btn-sm">Delete</button>
			</form>
		</div>
	<!—end activity info section —>

	<!—Space for Corousel section —>

	<!—end Space for Corousel section —>

	

{% endblock %}
{% block another2 %}
<style>

.bannerpic {
  margin-top: 20px;
  text-align: center;
}
.topicinfo {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
}
.infodes {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
.containerdes {
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 300px;
}

.containerbottonSubmit {
	margin-right: auto;
  	margin-left: auto;
  	padding-left: 30px;
}
.orangebutton {
    background-color: #F36E21;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
{% endblock %}