{% extends 'base.html' %}
{% block title %}{{activity.name}} | Activity Page {% endblock %}
{% block another1 %}
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'activity page/css/style.css' %}">
{% endblock %}
{% block body %}
  <br><br>
  <div class="container">
    <div class="input-block">
      <br>
      <div class="row">
		<div class="col-6">
      		<h2 style="margin-left: 10px;">{{activity.name}}</h2>
      	</div>
      	<div class="col-6">
      		<div class="containerbottonSubmit">
			 	<button type="button" class="orangebutton">Submit to verify</button>
			 	<form action="{% url 'activities:delete' activity.pk %}" method="post" style="display: inline;">
					{% csrf_token %}
					<!--<input type="hidden" name="activity.pk" value="{{activity.pk}}"/>-->
					<button type="Submit" class="graybutton">Delete</button>
				</form>
			</div>
		</div>
	 </div>
      <hr>
      <div class="centerblock">
      	<div class="centered-and-cropped">
			<div class="bannerpic">
				<img src="..." class="img-fluid" alt="Activity's image"> <!add pic of activity here #>
			</div>
		</div>
      </div>
      <!—activity info section —>
		<br>
		<h4>Description</h4>
		<div class="containerdes">
			<h5>{{activity.description}}</h>
		</div>
		<br>
		<h4>Duration</h4>
		<div class="containerdes">
			<h5>{{activity.startDate}} - {{activity.endDate}}</h>
		</div>
		<br>
		<h4>Location</h4>
		<div class="containerdes">
			<h5>{{activity.location}}</h>
		</div>
		<br>
		<h4>Supervisors</h4>
		<div class="containerdes">
			<h5>{{activity.supervisors.name}}</h>
		</div>
		<br>
		<h4>Members</h4>
		<div class="containerdes">
			<h5>{{activity.participants.name}}</h>
		</div>
		<br><br>

	<!—end activity info section —>
	</div>
</div>	
	
    </div>

  </div>
{% endblock %}

{% block another2 %}
  {% load staticfiles %}
  <style>
  body{
    background-color: #B4B4B4;
  }
  .containerdes{
  	margin-left: 50px;
  }
  .buttonblock{
  text-align: right;
  }
  .centered-and-cropped { object-fit: cover }
  .bannerpic img{
  width:1110px;
  height: 300px;
}
  .centerblock {
	text-align: center;
      }

    .orangebutton {
      background-color: #F36E21;
      border: none;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
    .orangebutton:hover{
      background-color: gray;
    }
    .graybutton {
      background-color: gray;
      border: none;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
    .graybutton:hover{
      background-color: #F36E21;
    }
    .input-block {
    width: 80%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #3B3D4C;
    margin: 0 auto;}

    .input-block input {
    width: 80%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #3B3D4C;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 10px;
    outline: none;}

    .input-block input:active,
    .input-block input:focus {
    border: 1px solid #3B3D4C;}

    @media (max-width: 1000px) {
    .centerblock {
        margin-left: 0px;
    }
    .input-block input {
      width: 100%;
    }
}
	.containerbottonSubmit {
	margin-right: auto;
  	margin-left: auto;
  	padding-left: 120px;
}


  </style>
{% endblock %}