{% extends 'base.html' %}
{% block title %}Create Activity{% endblock %}
{% block another1 %}
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'activity page/css/style.css' %}">
{% endblock %}
{% block body %}
  <br><br>
  <div class="container">
    <h1>Create Activity</h1>
    <br>
    <!-- form -->
    <form class = "form-horizontal" action = "" method = "post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'profiles/form-template.html' %}
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
          <button type="submit" class="orangebutton">Submit</button>
          <button type="reset" class="graybutton">Cancel</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block another2 %}
  {% load staticfiles %}
  <style>
    .orangebutton {
      background-color: #F36E21;
      border: none;
      color: white;
      padding: 15px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    .graybutton {
      background-color: gray;
      border: none;
      color: white;
      padding: 15px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

  </style>
{% endblock %}