<!DOCTYPE html>
<html lang="en">


    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="http://code.gijgo.com/1.5.1/js/gijgo.js" type="text/javascript"></script>
    <link href="http://code.gijgo.com/1.5.1/css/gijgo.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
      .orangebutton {
      background-color: #F36E21; /* orange */
      border: none;
      color: white;
      padding: 10px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: "Roboto", Arial, serif;}
      .graybutton {
        background-color: gray; /* gray */
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Roboto", Arial, serif;
      }
    </style>
  </head>
  <body>
	<!-- Header -->

  <div class="container">
  <div class="row">
    <div class="col-lg-1" >
    </div>
    <div class="col-lg-10 col-md -12" >
      <p1 style="padding: 50px 50px 0px 0px; font-size: 300%; color:Gray;" > Edit activity  </p1>
  <!-- form -->
  <form>
                  <!-- name -->
                  <div class="form-group">
                    <label class="form-control-label" for="activityname">Name*</label>
                    <input type="text" class="form-control" id="activityname" placeholder="Activity name">
                  </div>
                    <!-- category -->
                  <div class="form-group">
                   <label for="activitycategory">Category*</label>
                   <select class="form-control" id="activitycategory">
                     <option>กิจกรรมนักศึกษา</option>
                     <option>โปรเจ็ค</option>
                     <option>กาารแข่งขัน</option>
                     <option>งานแสดง/นิทรรศการ</option>
                     <option>อื่นๆ</option>
                   </select>
                 </div>
                <!-- description -->
                 <div class="form-group">
                  <label for="activitydescription">Description*</label>
                  <textarea class="form-control" id="activitydescription" rows="3"></textarea>
                </div>
                <!-- location -->
                <div class="form-group">
                  <label class="form-control-label" for="activitylocation">Location*</label>
                  <input type="text" class="form-control" id="activityname" placeholder="Activity name">
                </div>
                <!-- supervisor -->
                <div class="form-group">
                  <label class="form-control-label" for="activitysupervisor">Supervisor*</label>
                  <input type="text" class="form-control" id="activitysupervisor" placeholder="Activity name">
                </div>
                <!-- Participants -->
                <div class="form-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">Participants*</div>
                    <div class="panel-body">

                        <form action="action.php" >

                      	<div class="input-group control-group after-add-more">
                          <input type="text" name="addmore[]" class="form-control" placeholder="Enter Name Here">
                          <div class="input-group-btn">
                            <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                          </div>
                        </div>

                        </form>

                        <!-- Copy Fields -->
                        <div class="copy hide">
                          <div class="control-group input-group" style="margin-top:10px">
                            <input type="text" name="addmore[]" class="form-control" placeholder="Enter Name Here">
                            <div class="input-group-btn">
                              <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                            </div>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>
                <!-- script Participants -->
                <script type="text/javascript">

                    $(document).ready(function() {
                      $(".add-more").click(function(){
                          var html = $(".copy").html();
                          $(".after-add-more").after(html);
                      });
                      $("body").on("click",".remove",function(){
                          $(this).parents(".control-group").remove();
                      });
                    });
                </script>

                <!-- date -->
                <div class="form-group">
                Date*
                <input id="datepicker" width="276" />
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4',
                            iconsLibrary: 'fontawesome'
                        });
                    </script>

                to
                <input id="datepicker1" width="276" />
                    <script>
                        $('#datepicker1').datepicker({
                            uiLibrary: 'bootstrap4',
                            iconsLibrary: 'fontawesome'
                        });
                    </script>
                </div>




                <!-- button -->
                <b1 style= "padding: 50px 5px 0px 0px">  <button type="button" class="orangebutton">Submit</button> </b1>
          	    <b1 style= "padding: 50px 5px 0px 0px">  <button type="button" class="graybutton">Cancel</button>  </b1>


</form>
    </div>
    <div class="col-lg-1" >
    </div>

  </div>
<!-- padding: top px right px bottom px left px; -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
