{% extends 'base.html' %}
{% block title %}Activities Page{% endblock %}
{% block another1 %}
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'activity page/css/style.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <br><br><br>
    <div class="row">
      <div class="col-8">
        <h1 class="intro-heading">Activities</h1>
      </div>
      <div class="col-4" style="text-align: right;">
        <form action="{% url 'activities:create' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <button type="Submit" class="orangebutton">Create Activity</button>
      </form>
      </div>
    </div>
    <br>
    <div class="row">
      {%for activity in object_list %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">

                  {% if activity.image %}
                  <a href="#"><img class="centered-and-cropped" width="350" height="200" src="{{activity.image.url}}" ></a>
                  {% else %}
                  <a href="#"><img class="centered-and-cropped" width="350" height="200" src="{% static 'activities/images/default_activity.jpg' %}" ></a>
                  {% endif %}
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'activities:detail' activity.pk %}" style="color:black;">{{ activity.name }}</a>
                        </h4>
                        <p class="card-text">{{activity.description}}</p>
                        <p><a href="{% url 'activities:detail' activity.pk %}" class="cardbutton">Go</a> </p>
                    </div>

              </div>
            </div>

      {% endfor %}
     </div>
      <!-- /.row -->

      <!-- Pagination
      <br>
      <div class="paginationdes">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>

    </div>-->
</div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% block another2 %}
    <style>
        .orangebutton {
      background-color: #F36E21;
      border: none;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
    .orangebutton:hover{
      background-color: gray;
    }

    .paginationdes>ul>li>a{
        color: black;
    }
    .paginationdes>ul>li>a:hover{
        color: #F36E21;
    }
    a.card-title{
        color: black;
    }
    .activityCard>h4>a:hover{
        color: #F36E21;
    }
    .card-body{
      text-align: center;
    }
      .centered-and-cropped { object-fit: cover }
        .cardbutton{
  background-color: #3B3E4C;
  border: none;
  color: white;
  padding: 8px 15px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.cardbutton:hover{
  background-color: #F36E21;
  color: white;
}
    </style>
{% endblock %}
