{% extends 'base.html' %}
{% block title %}Activities Page{% endblock %}
{% block another1 %}
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'activity page/css/style.css' %}">
{% endblock %}
{% block body %}
	<br><br>
	<div class="container">
		<h1 class="intro-heading">Activities</h1>
	</div>
    <ul>
		<li class="">
                <a href="{% url 'activities:create' %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Create Activity
                </a>
		</li>
		{%for activity in object_list %}
		<li><a href="{% url 'activities:detail' activity.pk %}"><h1>{{ activity.name }}</h1></a></li>
            <form action="{% url 'activities:delete' activity.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="activity_id" value="={{ activity.id }}"/>
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
		{% endfor %}

    </ul>
{% endblock %}
