{% extends 'base.html' %}
{% block title %}Verify{% endblock %}
{% block another1 %}
  {% load staticfiles %}
{% endblock %}
{% block body %}
<div class="container-top">
        <div class="row">
          <div class="col-8">
            <div class="title-verify">
            <h1>Verifiy</h1></div>
          </div>
        </div>
</div>
<div class="contianer-image-verify">
  <img src="#" style="  width: 186px;
    height: 189px;">
</div>

<div class="container-text-top">
  <b>Student ID<br>Name</b>
</div>
<div class="container-text-info">
  <b>XXXXXXXXXXX<br>Mr. XXXX</b>
</div>

<div class="contianer-verify">
  <center><table style="border-collapse: collapse;border: 3px solid grey;width:928px;">
  <tr>
    <td style="width:300px;height:350px;"><img src="#" style="width:332px;height:229px;margin-left: 40px;"></td>
    <td style="width:300px;"><div class="text-left">

    <b>NAME</b><br>xxxx<br><br><b>Category</b><br>xxxx<br><br><b>Description</b>
      <br>xxxx<br><br><b>Date</b><br>xx/xx/xx</div></td>
    <td style="width:100px;"><div class="checkbox"><label><input type="checkbox" style="zoom:2"</label></div></td>
  </tr>
</table></center></div>

<div class="contianer-verify">
  <center><table style="border-collapse: collapse;border: 3px solid grey;width:928px;">
  <tr>
    <td style="width:300px;height:350px;"><img src="#" style="width:332px;height:229px;margin-left: 40px;"></td>
    <td style="width:300px;"><div class="text-left">

    <b>NAME</b><br>xxxx<br><br><b>Category</b><br>xxxx<br><br><b>Description</b>
      <br>xxxx<br><br><b>Date</b><br>xx/xx/xx</div></td>
    <td style="width:100px;"><div class="checkbox"><label><input type="checkbox" style="zoom:2"></label></div></td>
  </tr>
</table></center></div>

<br><div class="buttonverify">
<button type="submit" class="orangebutton">Back</button>
<button type="submit" class="orangebutton">Verified</button></div>

{% endblock %}
{% block another2 %}
<style>

.contianer-verify{
    margin-top: 15px;
}

.contianer-image-verify{
  margin-left: 950px;
  position:relative;
}

.container-text-top{
  margin-left: 700px;
  margin-top: 320px;
  font-family: "Roboto", Arial, serif;
  position:absolute;
  top:-10px;
    left:10px;
}

.container-top{
  margin-top: 30px;
}
.container-text-info{
  margin-left: 800px;
  margin-top: 320px;
  font-family: "Roboto", Arial, serif;
  position:absolute;
  top:-10px;
    left:10px;
}
.buttonverify{
    margin-left: 950px;
}

.title-verify{
  margin-left: 220px;margin-top: 17px;
  font-family: "Roboto", Arial, serif;
}
.text-left{
    text-align: left;
    font-family: "Roboto", Arial, serif;
}
.orangebutton {
    background-color: #F36E21;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 100px;
}

.orangebutton :hover {
    background-color: #4F4F4F;}



</style>
{% endblock %}
