{% extends 'base.html' %}
{% block title %}ABOUT US{% endblock %}
{% block another %}
    {% load staticfiles %}

{% endblock %}
{% block another2 %}
<style type="text/css">
  #about {
  background: white;
  padding: 80px 0;
}
p{
  color: black;
}
h5{
  color:black;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#about .about-container .background {
  margin-top: 10px;
  min-height: 350px;
  background: url(https://mpics.manager.co.th/pics/Images/559000001242507.JPEG) center top no-repeat;

}

#about .about-container .content {
  background: white;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

.titleabout>h2{
    background-color: rgba(40,40,40, 0.4);
    border-left: 5px solid gray;
    color: white;
    margin-right: 5px;
    width: 180px;
    padding-left: 10px;
}

</style>
{% endblock %}

{% block body %}
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <div class="container">
              <br>
            <div class="titleabout">
              <h2>About Us</h2>
            </div>
            <p>
              Our team was tasked to build a portfolio database for FIBO, in which students working on various projects and participating in various activities will be able to record their achievements and experience for further presentation post-graduation. Lecturers and staff will be able to view and verify the activities students add to the portfolio.
      Prior to this project, students at FIBO had no unified system for organising their portfolios, and lecturers had no way to keep track of their students’ activities.
The disadvantage of the old system is there is none, so some information on students’ activities are not recorded and creating a portfolio takes a lot of time. With our project, students will have a place to record their activities, and lecturers and staff have a place to track the students.
            </p>
            <br>
           </div>
          </div>
          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>

        </div>

        <br></br>

        <div class="row about-container">
          <div class="col-lg-6 content order-lg-1 order-2">
            <div class="container">
              <div class="titleabout">
                <br></br><h2>Q & A</h2>
              </div>
              <h5>Choose your privacy settings</h5>
              <p>You'll find an audience selector tool most places you share information updates, photos. Click the tool and select who you want to share with.</p>

              <hr>

              <h5>How can I print out the resume ?</h5>
              <p>You'll find an audience tool on your profile page , and the system will asking you for E-mail then you click "Submit". you'll get you resume by E-mail in a few day.</p>
              <br>

            </div>
          </div>

          <div class="col-lg-6 content order-lg-2 order-2">
            <div class="container">
              <br></br>
              <br></br>
              <h5>Forgot Password</h5>
              <p>If you need help resetting your password, we can help by sending you a link to reset it.</p>
              <p>  1. Visit Forgot Password<br>
                2. Enter either the email address or username on the account<br>
                3. Select Submit<br>
                4. We'll sent your new password.<br>
              </p>

            </div>
          </div>
        </div>

        <br></br>
        <div class="row about-container">
          <div class="col-lg-12 content order-lg-1 order-2 wow fadeInRight">
            <div class="container">
              <div class="titleabout">
                <br></br><h2>Contact us</h2>
              </div>
              <p>PORTFOLIO .FIBO<br>
                Institute of Field Robotics
                King Mongkut’s University of Technology Thonburi<br>
                Tel: +(66) 0-2123-4567<br>
                Enquiries : portfolio_enquiries@fibo.kmutt.ac.th<br>
                Editorial : portfolio_editorial@fibo.kmutt.ac.th<br>
                Advertising : portfolio_advertising@fibo.kmutt.ac.th
              </p>
              <br>
          </div>
        </div>
       </div>

      </div>
    </section><!-- #about -->
{% endblock %}
