{% extends 'base.html' %}
{% block title %}ABOUT US{% endblock %}
{% block another %}
    {% load staticfiles %}

{% endblock %}
{% block another2 %}
<style type="text/css">
  #about {
  background: #B4B4B4;
  padding: 80px 0;
}
p{
  color: white;
}
#about .about-container .background {
  margin-top: 10px;
  min-height: 350px;
  background: url(https://mpics.manager.co.th/pics/Images/559000001242507.JPEG) center top no-repeat;

}

#about .about-container .content {
  background: gray;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

.titleabout>h2{
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    margin-right: 5px;
    width: 180px;
}

</style>
{% endblock %}

{% block body %}
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <div class="container">
              <br>
            <div class="titleabout">
              <h2>About Us</h2>
            </div>
            <p>
              Our team was tasked to build a portfolio database for FIBO, in which students working on various projects and participating in various activities will be able to record their achievements and experience for further presentation post-graduation. Lecturers and staff will be able to view and verify the activities students add to the portfolio.
      Prior to this project, students at FIBO had no unified system for organising their portfolios, and lecturers had no way to keep track of their students’ activities.
The disadvantage of the old system is there is none, so some information on students’ activities are not recorded and creating a portfolio takes a lot of time. With our project, students will have a place to record their activities, and lecturers and staff have a place to track the students.
            </p>
            <br>
          </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->
{% endblock %}
