<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Adjunct Lecturer</title>
</head>
<body>
    <div class="container-fluid" style="height:100px;background-color:#3B3D4C;"></div>
    <br><br>
    <div class="container">
        <div class="container"><center>
            <article>
                <center><h3>Adjnct Lecturer</h3></center>
                <hr width="60%" color="ff6c00">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="" style="width:200px;height:300px;">
                            <h5>Mr.Bawornsak Sakulkueakulsuk</h5>
                            <p>Adjunct Lecturer</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Mr.Thanacha Choopojcharoen</h5>
                            <p>Adjunct Lecturer</p>
                    </div>
                </div>
            </article>
        </center></div>
    </div>
</body>
</html>