{% extends 'base2.html' %}
{% block title %}Award| Profile{% endblock %}
{% block another1 %}
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'activity page/css/style.css' %}">
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="graybar">
        <div class="row">
          <div class="col-1">
            <img src="https://static.wixstatic.com/media/f43cb85404b54190be558c08e1d47300.png" style="width:70px;height:70px;filter: grayscale(100%);margin-left: 30px">
          </div>
          <div class="col-8">
            <h2 style="margin-left: 15px;margin-top: 17px">Award</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg">
        <div class="row">
          <div class="col-3" >
            <br>
            <div class="profile-usermenu">
              <ul class="nav">
                <li>
                  <a href="{% url 'profiles:profile' profile.pk %}">
                  <i class="glyphicon glyphicon-home"></i> Personal Profile </a>
                </li>
                <li>
                  <a href="{% url 'profiles:academic' profile.pk%}">
                  <i class="glyphicon glyphicon-academic"></i> Academic </a>
                </li>
                <li>
                  <a href="{% url 'profiles:work' profile.pk %}">
                  <i class="glyphicon glyphicon-work"></i> Work and Experience </a>
                </li>
                <li class="active">
                  <a href="{% url 'profiles:award' profile.pk %}">
                  <i class="glyphicon glyphicon-award"></i> Award </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-8">

            <br>
            {% if request.user.pk == profile.pk or profile.publicViewPersonal or request.user.user.get_account_type_display == 'Staff' or request.user.user.get_account_type_display == 'Lecturer' or profile.friendViewPersonalInfo and request.user.is_authenticated or profile.get_account_type_display == 'Lecturer' and request.user.is_authenticated %}
            <b>Awards</b>
            <hr>
            {% for award in award_set %}
            <div class="row">
              <div class="col-xs-18 col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="http://placehold.it/500x300" alt="">
                    <div class="center">
                      <div class="caption">
                        <br>
                        <h4>{{award.activity.name}}</h4>
                        <p>{{award.activity.description|truncatechars:140}}</p>
                        <p><a href="{% url 'activities:detail' award.activity.pk %}" class="cardbutton">Go</a> </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block another2 %}
<style>
body{
  background-color: #B4B4B4;
}
.imagewrap {display:inline-block;position:relative;}


.headerbutton {
  background-color: #3B3E4C;
  border: none;
  color: white;
  padding: 8px 15px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position:absolute;
  bottom:10px;
  right: 10px;
}
.headerbutton:hover {
  background-color: #F36E21;
}

.buttoningraybar{
  background-color: #fff;
  border: none;
  color: #3B3D4C;

  height: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position:absolute;
  bottom:30px;
}
.buttoningraybar:hover{
  background-color: #fff;
  border: none;
  color: #F36E21;

  height: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position:absolute;
  bottom:30px;
}
.graybar{
  background-color:#EBEBEB;
  height: 70px;
  width: 1110px;
}

.bg{
  background-color: #fff;
}

.edit-link>a{
  color:gray;
  float:right;
  font-size: 15px;
}
.edit-link>a:hover{
  color:#F36E21;
}


.profile-usermenu ul li {
  width: 200px;
  height: 30px;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;

}

.profile-usermenu ul li a {
  color: gray;
  font-size: 16px;
  font-weight: 400;

}

.profile-usermenu ul li a i {

  margin-right: 8px;
  font-size: 16px;
}

.profile-usermenu ul li a:hover {
  background-color: #f1f1f4;
  color: #000;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #000;
  background-color: #f1f1f4;
  border-left: 2px solid #3B3D4C;
  margin-left: -2px;
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 10px;
}

.thumbnail img {
    width: 100%;
}

.center{
  text-align: center;
}

.fixbuttonincard{
  margin-bottom: 10px;
}
.cardbutton{
  background-color: #3B3E4C;
  border: none;
  color: white;
  padding: 8px 15px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.cardbutton:hover{
  background-color: #F36E21;
  color: white;
}

</style>
{% endblock %}
