<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <br>
      <br>
      </br>
      </br>

      <div class="row">
        <div class="col-12" style= "background-color:LightGray; hight:60px;"><h2><img src="https://static.wixstatic.com/media/a3ae4a24d9a28f8fa25f49fe47bdbd3c.png/v1/fill/w_44,h_37,al_c,usm_0.66_1.00_0.01/a3ae4a24d9a28f8fa25f49fe47bdbd3c.png" style="width:40px;height:40px;"><span style="color:#2F2E2E;"><b> Change Password</b></span></h2></div>
        <div class="col-12"><br></br></div>
        <div class="col-4"></div>
        <div class="col-4">  <form>
            <div class="form-group">
              <label for="old-pwd">Old Password:</label>
              <input type="text" class="form-control" id="old-pwd">
            </div>
            <div class="form-group">
              <label for="new-pwd">New Password:</label>
              <input type="password" class="form-control" id="new-pwd">
            </div>
            <div class="form-group">
              <label for="new-pwd">Confirm Password:</label>
              <input type="password" class="form-control" id="new-pwd">
            </div>
          </form></div><div class="col-4"></div>

        </div>
      </div>


    </div></div>

    <div class="container">
        <p align="center"><br><button type="button" class="btn" >SAVE</button></p>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
