<!DOCTYPE html>
<html lang="english">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>FIBO Executive team</title>
</head>
<body>
    <div class="container-fluid" style="height:100px;background-color:#3B3D4C;"></div>
    <br><br>
    <div class="container">
        <article>
                <center><h3>FIBO Executive Team</h3></center>
                <hr width="60%" color="ff6c00">
                <div class="container"><center>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Assoc. Prof. Dr.Djitt Laowattana</h5>
                                <p>Founder, Advisor and Deputy Director for Industrial Services</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Assoc. Prof. Dr.Siam Charoenseang</h5>
                                <p>Director</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Dr.Arbtip Dheeravongkit</h5>
                                <p>Deputy Director for Academic Affairs and Robotics and Automation Engineering Program Chairperson</p>
                            </div>
                            <div class="col-sm-4">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Dr.Pitiwut Teerakittikul</h5>
                                <p>Assistant Director for Student Affairs</p>
                            </div>
                            <div class="col-sm-4">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Dr.Supachai Vongbunyong</h5>
                                <p>Assistant Director for Research and International Affairs</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Ms.Anusara Meechai</h5>
                                <p>Acting Deputy Director for Administrative Affairs</p>
                            </div>
                            <div class="col-sm">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Dr.Suriya Natsupakpong</h5>
                                <p>Robotics and Automation Program Chairperson</p>
                            </div>
                            <div class="col-sm">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Dr.Prakarnkiat Youngkong</h5>
                                <p>Technopreneurship (TEP) Program Chairperson</p>
                            </div>
                            <div class="col-sm">
                                <img src="" style="width:200px;height:300px;">
                                <h5>Dr.Orapadee Joochim</h5>
                                <p>Assistant to Robotics and Automation Engineering Program Chairperson</p>
                            </div>
                        </div>
                </center></div>
            </article>
    </div>
</body>
</html>