{% extends 'base.html' %}
{% block title %}Header{% endblock %}
{% block another %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


  <style>
    a:link {
      color: #3B3D4C;
      text-decoration: none;
    }

    a:visited {
      color: #3B3D4C;
      text-decoration: none;
    }
    a:hover {
      color: #f36E21;
      text-decoration: none;
    }

    font {
      font-family: "Roboto", Arial, serif;
      line-height: 1.8;
      font-size: 16px;
      font-weight: 300;
      }

    .form-head-button button{
        background-color: #3B3D4C;
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Roboto", Arial, serif;
      }

      .form-head-button button:hover{
      background: #4F4F4F;
      }

    .headerimage{
      position: absolute;
      z-index: -1;
    }

    .contianer-head-image{
      margin-top: 100px;
      margin-left: 150px;
      margin-right: 30px;
    }

    .contianer-head-button{
        margin-top: 230px;
        margin-left: 330px;
    }

    .contianer-head-title{
        margin-top: 230px;
        color: white;
    }
  </style>
{% endblock %}
{% block body %}
  <div class="headerimage">
      <img src="https://www.uppic.org/image-E51D_59F1B7A7.jpg" style="width:1400px"></div>
      <div class="row">
        <div class="contianer-head-image">
          <img src="https://static.wixstatic.com/media/f8a2df_d091283ac5264a669a7745143edfd203~mv2_d_1946_1946_s_2.jpg" style="width:231px;height:231px;"></div>
          <div class="contianer-head-title">
            <div align="center"><h1>Mr.Nutped</h1></div>
          </div>
        <div class="contianer-head-button">
          <div class="form-head-button">
            <button type="submit"><b>CV</b></button>
            <button type="submit"><b>Resume</b></button>
            <button type="submit"><b>Get Link</b></button>
          </div>

        </div>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

{% endblock %}
