
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <div class="headerimage" style="position: absolute;z-index: -1;">
      <img src="https://www.uppic.org/image-E51D_59F1B7A7.jpg" style="width:1400px"></div>
      <div class="row">
        <div class="contianer-head-image">
          <img src="https://static.wixstatic.com/media/f8a2df_d091283ac5264a669a7745143edfd203~mv2_d_1946_1946_s_2.jpg" style="width:231px;height:231px;margin-top: 90px;margin-left: 200px;margin-right: 30px;"></div>
          <div class="contianer-head-title" style="margin-top: 230px;color: white;">
            <div align="center"><h1>Mr.Nutped</h1></div>
          </div>
        <div class="contianer-head-button" style="margin-top: 230px;margin-left: 450px;">
          <div class="form-head-button">
            <button type="submit"><b>CV</b></button>
            <button type="submit"><b>Resume</b></button>
            <button type="submit"><b>Get Link</b></button>
          </div>

        </div>
      </div>
