<li><a href="/profiles/profile/123">
    Profile
</a></li>

<li><a href="/profiles/profile/123/profilepage">
    Profilepage
</a></li>

<li><a href="/profiles/profile/123/academic">
    Academic
</a></li>

<li><a href="/profiles/profile/123/work">
    Work and Experience
</a></li>

<li><a href="/profiles/profile/123/award">
    Award
</a></li>

<li><a href="/profiles/profile/123/privacy">
    Privacy
</a></li>

<li><a href="/profiles/changepassword/123">
    Changepassword
</a></li>

<li><a href="/profiles/organization">
    Organization
</a></li>