{% extends 'base3.html' %}
{% block main-content %}
{% for lecturer in lecturer_set %}
{{lecturer.stID}} <br>
{{lecturer.user.first_name}} {{lecturer.user.last_name}}<br>
{% if lecturer.avatar %}
<a class="navbar-brands" href="#"><img class="centered-and-cropped" width="160" height="168" src="{{lecturer.avatar.url}}"></a>
{% elif lecturer.stID %}
{% load staticfiles %}
<a class="navbar-brands" href="#"><img class="centered-and-cropped" width="160" height="168" src="{% static 'profiles/images/default_avatar.jpg' %}" ></a>
{% endif %}

{% endfor %}
{% endblock %}