{% extends 'base3.html' %}
{% block main-content %}
{% for staff in staff_set%}
{{staff.stID}} <br>
{{staff.user.first_name}} {{staff.user.last_name}}<br>
{% if staff.avatar %}
<a class="navbar-brands" href="#"><img class="centered-and-cropped" width="160" height="168" src="{{staff.avatar.url}}"></a>
{% elif staff.stID %}
{% load staticfiles %}
<a class="navbar-brands" href="#"><img class="centered-and-cropped" width="160" height="168" src="{% static 'profiles/images/default_avatar.jpg' %}" ></a>
{% endif %}

{% endfor %}
{% endblock %}