<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Officer</title>
</head>
<body>
    <div class="container-fluid" style="height:100px;background-color:#3B3D4C;"></div>
    <br><br>
    <div class="container">
        <div class="container"><center>
            <article>
                <center><h3>Officer</h3></center>
                <hr width="60%" color="ff6c00">
                <div class="row">
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Watchara Taseemoon</h5>
                        <p>Education Services Personnel</p>
                    </div>
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Mirawee Kumpakure</h5>
                        <p>Education Services Personnel</p>
                    </div>
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Rommanee Ariya</h5>
                        <p>Education Services Personnel</p>
                    </div>
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Roongkarn Lokvit</h5>
                        <p>Education Services Personnel</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Patchara Suwannarat</h5>
                        <p>Accounting and Finance Officer</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Wanee Thiangrat</h5>
                        <p>Accounting and Finance Officer</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Suttinun Sriket</h5>
                        <p>Accounting and Finance Officer</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Vanida Imthong</h5>
                        <p>Project Coordinator</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Yaowaluck Samlee</h5>
                        <p>Project Coordinator</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Kanjana Janwan</h5>
                        <p>General Administrative Officer(HR)</p>
                    </div>
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Nattha Rakkarndee</h5>
                        <p>General Administrative Officer(HR)</p>
                    </div>
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Jariya Sangpech</h5>
                        <p>General Administrative Officer(Research)</p>
                    </div>
                    <div class="col-sm">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Mr.Patthapong Thongzui</h5>
                        <p>Computer Specialist</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Ms.Jariya Yomsatiankul</h5>
                        <p>KGEO - Researcher</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Mr.Sanwit Iabchoon</h5>
                        <p>KGEO - Researcher</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="" style="width:200px;height:300px;">
                        <h5>Mr.Sanwit Iabchoon</h5>
                        <p>KGEO - Technology Management and Commercialization Officer</p>
                    </div>
                </div>
            </article>
        </center></div>
    </div>
</body>
</html>