{% extends 'base.html' %}
{% block title %}Organization{% endblock %}
{% block another1 %}
  {% load staticfiles %}
{% endblock %}
{% block body %}
    <div class="container">
      <div class="bg">
        <div class="row">
            <div class="col-md-2 col-sm-4 sidebar1">
                <br>
                <div class="left-navigation">
                    <ul class="list">
                      <br><br>
                        <h5><strong>Categories</strong></h5>
                        <li><a href="{% url 'profiles:executive_team' %}">Executive Team</a></li>
                        <li><a href="{% url 'profiles:lecturers_and_researchers' %}">Lecturer/Researcher</a></li>
                        <li><a href="{% url 'profiles:adjunct_lecturers' %}">Adjunct Lecturer</a></li>
                        <li><a href="{% url 'profiles:engineers' %}">Engineer</a></li>
                        <li><a href="{% url 'profiles:officers' %}">Officer</a></li>
                        <li>
                          <a href="{% url 'profiles:students' %}">Student</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-8 main-content">
              <br><br>
            <center><h3>FIBO Executive Team</h3></center>
                <hr width="60%">
                <div class="container"><center>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="" style="width:200px;height:300px;">
                                <h4>Assoc. Prof. Dr.Djitt Laowattana</h4>
                                <p>Founder, Advisor and Deputy Director for Industrial Services</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="" style="width:200px;height:300px;">
                                <h4>Assoc. Prof. Dr.Siam Charoenseang</h4>
                                <p>Director</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="" style="width:200px;height:300px;">
                                <h4>Dr.Arbtip Dheeravongkit</h4>
                                <p>Deputy Director for Academic Affairs and Robotics and Automation Engineering Program Chairperson</p>
                            </div>
                            <div class="col-sm-4">
                                <img src="" style="width:200px;height:300px;">
                                <h4>Dr.Pitiwut Teerakittikul</h4>
                                <p>Assistant Director for Student Affairs</p>
                            </div>
                            <div class="col-sm-4">
                                <img src="" style="width:200px;height:300px;">
                                <h4>Dr.Supachai Vongbunyong</h4>
                                <p>Assistant Director for Research and International Affairs</p>
                            </div>
                        </div>
                </center>
            </div>
        </div>
      </div>
    </div>
     
{% endblock %}
{% block another2 %}
<style>
body{
  background-color: #B4B4B4;
}
.bg{
  background-color: #fff;
}
  .sidebar1 {
    background: #3B3D4C;
    padding: 0px;
    min-height: 100%;
}
h4{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 20px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
}
.list>li>a{
  color: #fff;
}
.main-content{
text-align:center;
}
</style>
{% endblock %}
