{% extends 'base2.html' %}
{% block title %}Edit Personal Profile | Profile{% endblock %}
{% block another1 %}
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'activity page/css/style.css' %}">
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="graybar">
        <div class="row">
          <div class="col-1">
            <img src="https://static.wixstatic.com/media/f43cb85404b54190be558c08e1d47300.png" style="width:70px;height:70px;filter: grayscale(100%);margin-left: 30px">
          </div>
          <div class="col-8">
            <h3 style="margin-left: 15px;margin-top: 19px">Edit Personal Profile</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg">
        <div class="row">
          <div class="col-3" >
            <br>
            <div class="profile-usermenu">
              <ul class="nav">
                <li class="active">
                  <a href="{% url 'profiles:profile' profile.pk %}">
                  <i class="glyphicon glyphicon-home"></i> Personal Profile </a>
                </li>
                <li>
                  <a href="{% url 'profiles:academic' profile.pk%}">
                  <i class="glyphicon glyphicon-user"></i> Academic </a>
                </li>
                <li>
                  <a href="{% url 'profiles:work' profile.pk %}">
                  <i class="glyphicon glyphicon-ok"></i> Work and Experience </a>
                </li>
                <li>
                  <a href="{% url 'profiles:award' profile.pk %}">
                  <i class="glyphicon glyphicon-flag"></i> Award </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-8">

            <br>
            <b>Contact information</b>
            <hr></hr>
            <div class="form-group row">
              <label for="phone-number" class="col-3 col-form-label">Phone Number</label>
              <div class="col-10"><input class="form-control" type="tel" value="08X-XXXXXXX" id="phone-number">
              </div>
            </div>
            <div class="form-group row">
              <label for="email-input" class="col-3 col-form-label">Email</label>
              <div class="col-10"><input class="form-control" type="email" value="portfolio@example.com" id="email-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="facebook-input" class="col-3 col-form-label">Facebook</label>
              <div class="col-10"><input class="form-control" type="url" value="http://www.facebook.com/example" id="facebook-input">
              </div>
            </div>

            <br><br>
            <b>Congenital disease</b>
            <hr></hr>
            <div class="form-group row">
              <label for="disease-input" class="col-3 col-form-label">Congenital disease</label>
                <div class="col-10"><input class="form-control" type="text" value="None" id="disease-input">
                </div>
            </div>

            <br><br>
            <b>Emergency contact</b>
            <hr></hr>

            <div class="form-group row">
              <label for="mother-phone-input" class="col-3 col-form-label">Mother's Phone Number</label>
                <div class="col-7"><input class="form-control" type="tel" value="08X-XXXXXXX" id="mother-phone-input">
                </div>
            </div>
            <div class="form-group row">
              <label for="father-phone-input" class="col-3 col-form-label">Father's Phone Number</label>
                <div class="col-7"><input class="form-control" type="tel" value="08X-XXXXXXX" id="father-phone-input">
                </div>
            </div>


            <br><br><br>
            <b>Birthdate</b>
            <hr></hr>
            <div class="form-group row">
              <label for="bd-input" class="col-3 col-form-label">Birthday</label>
              <div class="col-7"><input class="form-control" type="date" value="2017-10-16" id="bd-input">
              </div>
            </div>


            <br><br>
            <b>Ability</b>
            <hr></hr>
            <div class="form-group row">
              <label for="Ability1-input" class="col-2 col-form-label">Ability 1</label>
                <div class="col-10"><input class="form-control" type="text" value="None" id="Ability1-input">
                </div>
            </div>


            <br><br>
            <b>Image(Informal)</b>
            <hr></hr>
            <div class="imageupload panel panel-default">
              <div class="file-tab panel-body">
                <label class="btn btn-default btn-file">
                  <input type="file" name="image-file">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
              </div>
              <div class="col-2">
                <button type="submit">Remove</button>
              </div>
            </div>


      <br>
      <p align="right">
        <button type="submit" class="orangebutton">Submit</button>
        <button type="reset" class="graybutton">Cancel</button>
      </p>
      <br><br>
      </div>
    </div>
  </div>
  <br><br><br><br>
</div>
{% endblock %}

{% block another2 %}
<style>
body{
  background-color: #B4B4B4;
}
.imagewrap {display:inline-block;position:relative;}


.headerbutton {
  background-color: #3B3E4C;
  border: none;
  color: white;
  padding: 8px 15px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position:absolute;
  bottom:10px;
  right: 10px;
}
.headerbutton:hover {
  background-color: #F36E21;
}

.buttoningraybar{
  background-color: #fff;
  border: none;
  color: #3B3D4C;

  height: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position:absolute;
  bottom:30px;
}
.buttoningraybar:hover{
  background-color: #fff;
  border: none;
  color: #F36E21;

  height: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position:absolute;
  bottom:30px;
}
.graybar{
  background-color:#EBEBEB;
  height: 70px;
  width: 1110px;
}

.bg{
  background-color: #fff;
}

.edit-link>a{
  color:gray;
  float:right;
  font-size: 15px;
}
.edit-link>a:hover{
  color:#F36E21;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #f1f1f4;
  color: #000;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #000;
  background-color: #f1f1f4;
  border-left: 2px solid #3B3D4C;
  margin-left: -2px;
}

.orangebutton {
      background-color: #F36E21;
      border: none;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
.graybutton {
      background-color: gray;
      border: none;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
</style>
{% endblock %}
