<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <style>
    a:link {
      color: #3B3D4C;
      text-decoration: none;
    }

    a:visited {
      color: #3B3D4C;
      text-decoration: none;
    }
    a:hover {
      color: #f36E21;
      text-decoration: none;
    }


font {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 300;
  }

  button {
    background-color: #F36E21; /* orange */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto", Arial, serif;
  }

</style>

  <body>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-12" style= "background-color:LightGray; hight:60px;"><h1><img src="https://static.wixstatic.com/media/f43cb85404b54190be558c08e1d47300.png" style="width:60px;height:60px;    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);"><span style="color:#2F2E2E;"><b>About</b></span></h1></div>
        <div class="col-3" ><br></br><font color="#f36E21"><b>Personal</b></font></div>
        <div class="col-9" "color:#3B3D4C;"><br><b>Contact information</b><hr></hr>
      <div class="form-group row">
        <label for="phone-number" class="col-2 col-form-label">Phone Number</label>
        <div class="col-10"><input class="form-control" type="tel" value="08X-XXXXXXX" id="phone-number">
        </div></div>
      <div class="form-group row">
        <label for="email-input" class="col-2 col-form-label">Email</label>
        <div class="col-10"><input class="form-control" type="email" value="portfolio@example.com" id="email-input">
        </div>
      </div>
      <div class="form-group row">
      <label for="facebook-input" class="col-2 col-form-label">Facebook</label>
        <div class="col-10"><input class="form-control" type="url" value="http://www.facebook.com/example" id="facebook-input">
        </div>
      </div>

      <br><b>Congenital disease</b><hr></hr>
      <div class="form-group row">
        <label for="disease-input" class="col-2 col-form-label">Congenital disease</label>
          <div class="col-10"><input class="form-control" type="text" value="None" id="disease-input">
          </div>
      </div>

      <br><b>Emergency contact</b><hr></hr>
      <div class="form-group row">
        <label for="mother-phone-input" class="col-2 col-form-label">Mother's Phone Number</label>
          <div class="col-10"><input class="form-control" type="tel" value="08X-XXXXXXX" id="mother-phone-input">
          </div>
      </div>
      <div class="form-group row">
        <label for="father-phone-input" class="col-2 col-form-label">Father's Phone Number</label>
          <div class="col-10"><input class="form-control" type="tel" value="08X-XXXXXXX" id="father-phone-input">
          </div>
      </div>
      <div class="form-group row">
        <label for="bd-input" class="col-2 col-form-label">Birthday</label>
        <div class="col-10"><input class="form-control" type="date" value="2017-10-16" id="bd-input">
        </div>
      </div>
      <br><b>Life Goals</b><hr></hr>
      <div class="form-group row">
        <label for="lifegoals-input" class="col-2 col-form-label">Life Goals</label>
        <div class="col-10"><input class="form-control" type="text" value="your lifegoals." id="lifegoals-input">
        </div>
      </div>
      <br><b>Ability</b><hr></hr>
      <div class="form-group row">
        <label for="Ability1-input" class="col-2 col-form-label">Ability 1</label>
          <div class="col-10"><input class="form-control" type="text" value="None" id="Ability1-input">
          </div>
      </div>
      <div class="form-group row">
        <label for="Ability2-input" class="col-2 col-form-label">Ability 2</label>
          <div class="col-10"><input class="form-control" type="text" value="None" id="Ability2-input">
          </div>
      </div>
      <div class="form-group row">
        <label for="Ability3-input" class="col-2 col-form-label">Ability 3</label>
          <div class="col-10"><input class="form-control" type="text" value="None" id="Ability3-input">
          </div>
      </div>
      <div class="form-group row">
        <label for="Ability4-input" class="col-2 col-form-label">Ability 4</label>
          <div class="col-10"><input class="form-control" type="text" value="None" id="Ability4-input">
          </div>
      </div>
      <br><b>Image(Informal)</b><hr></hr>
      <div class="imageupload panel panel-default">
        <div class="file-tab panel-body">
          <label class="btn btn-default btn-file">
            <input type="file" name="image-file">
          </label>
          <button type="submit">Remove</button>
        </div>
      </div>
      <br>
      <p align="right"><button type="submit" >SAVE</button></p><br><br><br></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </font></body>
</html>
