{% extends 'base.html' %}
{% block title %}Personal Edit{% endblock %}
{% block another %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <style>
    font {
      font-family: "Roboto", Arial, serif;
      line-height: 1.8;
      font-size: 16px;
      font-weight: 300;
      }
      button {
        background-color: #F36E21; /* orange */
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Roboto", Arial, serif;
      }


    </style>
{% endblock %}
{% block body %}
  <font>
    <div class="container">
      <br>

      <div class="row">
        <div class="col-12" style= "background-color:LightGray; hight:60px;"><h2><img src="https://static.wixstatic.com/media/a3ae4a24d9a28f8fa25f49fe47bdbd3c.png/v1/fill/w_44,h_37,al_c,usm_0.66_1.00_0.01/a3ae4a24d9a28f8fa25f49fe47bdbd3c.png" style="width:40px;height:40px;      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);"><span style="color:#2F2E2E;"><b>Privacy</b></span></h2></div>
        <div class="col-12"><br></br></div>
        <div class="col"><table style="width:100%"><form action="/action_page.php" method="get">
            <tr>
              <th>Personal profile</th>
              <th>Friend</th>
              <th>Public</th>
            </tr>
            <tr>
              <td><br>Contact information</td>
              <td><br><input type="checkbox" name="privacy" value="friend"></td>
              <td><br><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Congenital diseaseEve</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Emergency contact</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Birthday</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Life Goals</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Ability</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
              </tr>
            </form>
            </table>
            <br><hr><table style="width:100%"><form action="/action_page.php" method="get">
                <tr>
                  <th>Award</th>
                  <th>Friend</th>
                  <th>Public</th>
                </tr>
                <tr>
                  <td><br>Received awards</td>
                  <td><br><input type="checkbox" name="privacy" value="friend"></td>
                  <td><br><input type="checkbox" name="privacy" value="public"></td>
                </tr>
                </table>
        </div>
        <div class="col"><table style="width:100%"><form action="/action_page.php" method="get">
            <tr>
              <th>Academic</th>
              <th>Friend</th>
              <th>Public</th>
            </tr>
            <tr>
              <td><br>Grade</td>
              <td><br><input type="checkbox" name="privacy" value="friend"></td>
              <td><br><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Admission Type</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Scholarship</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            </table>
        </div>
        <div class="col"><table style="width:100%"><form action="/action_page.php" method="get">
            <tr>
              <th>Work and Experience</th>
              <th>Friend</th>
              <th>Public</th>
            </tr>
            <tr>
              <td><br>Class project</td>
              <td><br><input type="checkbox" name="privacy" value="friend"></td>
              <td><br><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Lab</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>TA</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Activities</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Competition</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Internship</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Part-time</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            <tr>
              <td>Research</td>
              <td><input type="checkbox" name="privacy" value="friend"></td>
              <td><input type="checkbox" name="privacy" value="public"></td>
            </tr>
            </form>
            </table>
        </div>
    </div>

    <div class="container">
        <p align="right"><button type="submit" >SAVE</button><br><br><br></p>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </font>
{% endblock %}
